<html>
<head>
  <link href="/assets/style.css"  type="text/css" rel="stylesheet">
  <title>Page Title</title>
</head>
<body>
  <h1>Rendereado por EJS</h1>
  <p>El valor del id es <%= ID %></p>
  <% for (var i =1; i <=ID; i++ ) { %>
<p>Hola</p>
<% } %>
</body>
</html>
