<html>
    <head>
        <title>Page Title</title>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Has agregado un registro</h1>
        <br>
        <a href="./add">Volver</a>
        <a href="./">Menú</a>
    </body>
</html>
