<html>
    <head>
        <title>Page Title</title>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--<h1>vamos a ver si jala jaja a la verga ya me canse</h1>-->
        <p>Has agregado un registro:</p><br>
        
        <a href="./add">Volver</a>
        <br>
        <a href="./index">Menú</a>
    </body>
</html>