<html>
    <head>
        <title>Page Title</title>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        
        <h1>Elige una opcion</h1>
        <a href="./add">Agregar un elemento</a>
        <a href="./personData">Buscar un elemento</a>
    </body>
</html>
